body {
    background-color: #DAD7CD;

}

.glowing-text {
    text-shadow: 0 0 10px #9CAF88,
               0 0 20px #9CAF88,
               0 0 30px #746a517c
}

/* Styles for the HEADER <------------------------------------------------------------------ */

.nav-styles {
    text-align: center;
    width: 100%;
    height: 19vh; 
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #9CAF88, #9caf8893 );
    
}

.nav-styles.fixed {
    position: fixed;
    z-index: 4;
    text-align: left;
    top: 0;
    height: 13vh;
    justify-content: left;
    color: white;
    background: #9CAF88;
    transition:  .5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for Slider Images <-------------------------------------------------------- */

.slider-img-1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 80%;
}

.slider-img-2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 30%;
}

.slider-text-1 {
    display: absolute;
    bottom: 10px;
    color: white;
    background-color: #03030293;
}



/* Styles for page separator <------------------------------------------------- */
@keyframes loop {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}



/* Product loop styles */
/* 
.loop-background{
    width: 100%;
    height: 15vh;
    background: linear-gradient(to bottom, #ffffff, #ffffff );
} */

/* .looped-product-container{
    height: 50%;
    width: 100%;
 
}

.looped-product-track {
   height: 50%;
   width: 100%;
   
   display: flex;
   align-content: center;
   
} */

.slick-slider.slider-2 {
    margin: 0 10px;
}

.slider-2.slick-list {
    margin: 0 -10px;
}

.inset-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #DAD7CD;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.728);
}

.looped-product-title {
    width: 80vw;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


/* Text loop styles */

.looped-text-container {
    overflow: hidden;
    padding: 1% 0;
    white-space: nowrap;
}

.looped-text-track {
    display: inline-block;
    animation: loop 25s infinite linear;
    white-space: nowrap;
}

.looped-text-track div { 
    display: inline-block;
    margin-left: 200px;
    white-space: nowrap;
}

/* Styles for Focus Product Elements  */

@keyframes focusFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.focus-card-container {
    height: 500px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: left;
    
    /* box-shadow: 0 0 20px rgba(150, 150, 150, 0.5); */
}

.focus-card {
    
    overflow: hidden;
    background:linear-gradient(to bottom, #e5e9e0, #9CAF88);
    width: 98%;
    height: 50%;
    border: 5px;
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);

    /* box-shadow: 0 0 20px rgba(150, 150, 150, 0.5); */
}

.focus-card-upper {
    display: flex;
    height:100%;
    width: 70%;
    background: radial-gradient( 
        circle at center, 
        white 0%,     
        white 75%,    
        #dfe6dace 100%     
    );
    box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 0.5);
}

.focus-image { 
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 1%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.focus-image img {
   
    max-width: 70%;
    max-height: 70%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.focus-image-title {
    width: 100%;
    max-height: 100%;
    color: black;
    padding:2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.focus-image-description {
    padding: 5%;
    height: 50%;
    background-color: white;
    text-align: center;
}


/* Styles for info section of the page <--------------------------------------  */

.info-card-container {
    display: flex;
    padding: 2%;
    flex-direction: column;
    width: 100vw;
    height: full;
    justify-content: center;
    background-color: #A3B18A;
    overflow: hidden;
    padding-bottom: 15%;
    
}


.info-card-1 {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ECEBE6;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.728);
    opacity: 0;
    transform: translateX(50%);
    transition: all .5s ease-in-out;
}

.info-card-1.fade-left {
    opacity: 1;
    transform: translateX(0);
    transition: all .5s ease-in-out;
}

.info-text-1.fade-text header {
    opacity: 1;
    transform: translateY(0);
    transition: all .8s ease-in-out;
}

.info-text-1.fade-text p {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.info-img-1 {
    display: flex;
    margin-bottom: 2%;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: black;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.728);
}

.info-img-1 img {
    object-fit: cover;
}

.info-text-1 {
    height: 10%;
}

.info-text-1 header {
    color: #588157;
    font-size: 25px;
    text-align: center;
    opacity: 0;
    transform: translateY(-30%);
    transition: all .5s ease-in-out;
}

.info-text-1 p {
    color: #588157;
    font-size: 15px;
    text-align: center;  
    opacity: 0;
    transition: opacity .5s ease-in-out
}

.info-card-2 {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: #ECEBE6;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.728);
    opacity: 0;
    transform: translateX(-50%);
    transition: all .5s ease-in-out;
}

.info-card-2.fade-right {
    opacity: 1;
    transform: translateX(0);
    transition: all .5s ease-in-out;
}



.info-img-2 {
    margin: 10px;
    
    display: flex;
    width: 90%;
    height: 200px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: black;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.728);
    
}

.info-img-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.info-text-2 {
    width: 100%;
    text-align: center;
}

.info-text-2 p {
    color: #588157;
    font-size: 15px;
    text-align: center;
    padding: 5%;
}

.footer-style {
    background-color: #588157;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-link-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #24292f;
}

@media screen and (min-width: 768px) {
    .info-card-1{
        flex-direction: row;
    }
    .info-card-2{
        flex-direction: row;
    }
    .info-img-1{
        margin: 2%;
    }
    .info-text-1 {
        width: 60%;
        order: 1;
    }
    .info-img-2 {
       width: 200px;
       order: 2;
    }
    .info-text-2 p {
        text-align: right;
    }

  }

  @media screen and (min-width: 1024px) {
    .info-card-1 {
        width: 80%;
    }
    .info-card-2 {
        width: 80%;
    }
    .info-card-1.fade-left{
        transform: translateX(7%);
    }
    .info-card-2.fade-right{
        transform: translateX(17%)
    }   
  }

  @media screen and (min-width: 1400px) {
    .info-card-1 {
        width: 65%;
    }
    .info-card-2 {
        width: 65%;
    }
    .info-card-1.fade-left{
        transform: translateX(7%);
    }
    .info-card-2.fade-right{
        transform: translateX(43%)
    }
    .info-text-1 header {
        font-size: 28px;
    }
    .info-text-1  p {
        font-size: 18px;
    }
    .info-text-2 p {
        font-size: 18px;
    }
  }