@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

.hidden-scrollbar::-webkit-scrollbar {
  display:none;
  width: 0px;
}


.hidden-scrollbar::-webkit-scrollbar-track {
  display: none;
  width: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background:#888
}


::-webkit-scrollbar-thumb {
  background: #555;
}


::-webkit-scrollbar-thumb:hover {
  background: #29599c;
}

body {
  font-family: 'Poppins', sans-serif;

} 

@keyframes slidingButton {
  from {
    width: .5px;
    transform: translateX(0px);
  }

  to {
    opacity: .5;
    width: 100%;
    transform: translateX(0px);
  }
}

@keyframes exitSlidingButton {
  from {
    opacity: .5;
    width: 100%;
  }
  to {
    opacity: .3;
    width:0%;
  }
}



.sliding-button {
  animation: slidingButton .2s ease-in-out forwards;
  
  
}

.exit-sliding-button{
  animation: exitSlidingButton .2s ease-out forwards;
}
















.halo-effect {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.halo-text {
  position: relative;
}